<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
        var data = google.visualization.arrayToDataTable([
          ['', 'Training', 'Testing'],
          ['Bottoms', 84, 75],
          ['Dresses', 80, 85],
          ['Tops', 84, 84],
        ]);

        var options = {
          chart: {
            title: 'CNN on Sentiment Analysis (Binary Classification)',
            subtitle: 'Perbandingan akurasi CNN dengan parameter terbaik',
          }
        };

        var chart = new google.charts.Bar(document.getElementById('sentiment_acc'));

        chart.draw(data, google.charts.Bar.convertOptions(options));
      }
    </script>
  </head>

  
  <body>
    <div id="sentiment_acc" style="width: 30%; height: 400px;"></div>
  </body>
</html>