<body>

    <canvas id="sent_pred" width="400" height="400"></canvas>
  
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  <script>

    new Chart(document.getElementById("sent_pred"), {
         type: 'doughnut',
          data: {
            labels: ['Negatif', 'Positif'],
            datasets: [{
              label: 'Prediksi Sentiment',
              backgroundColor: 
              ['rgba(255, 99, 132, 0.4)',
                'rgba(75, 192, 192, 0.4)'],
            data: {{percentage_sent | tojson}}
            }]
          },
          options: {
            title: {
              
              text: 'Persentase prediksi sentimen'
            }
          }
        });
  </script>